html, body {
    /* font-family: 'Noto Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Noto Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;    
}

hr {
  border: 10;
  border-top: solid lightgray 1px;
  background-color: aqua;
  margin: 0;
  padding: 0;  
}

/* index's css */

body.index {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%  
}

input {
  font-size: 24px;
  font-weight: bold;
  color: #919191;
}

.fontStyle {
  color:#747474;
  font-size: 14px;  
  font-weight: bold;
}

.container {
  width: 424px;
  height: 393px;
}

.header {
  position: absolute;
  top: 20px;
  margin-left: 52px;
  margin-right: 52px;
  font-size: 28px;  
  font-weight: bold;  
}

.login_label {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.msg_label {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.msg_label span{    
  text-align: center;
  font-size: 28px;  
  font-weight: bold;    
}

.msg_normal_label {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 266px;
  margin: 0 auto;
}

.msg_normal_label span{    
  text-align: center;
  font-size: 20px;  
  font-weight: normal
}

.msg_casting_label {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 266px;
  margin: 0 auto;
}

.msg_casting_label span{    
  text-align: center;
  font-size: 20px;  
  font-weight: normal
}

.msg_casting_name {
  font-size: 20px;  
  font-weight: bold;
  margin: 0 auto
}

.id_label {
  position: absolute;
  top: 101px;
  margin-left: 61px;
  margin-right: 61px;  
}

.id_text_field {
  position: absolute;
  top: 129px;
  margin-left: 61px;
  margin-right: 61px;  
}

.id_text_field2 {
  position: absolute;
  top: 129px;
  width: 330px;
  margin-left: 51px;
  margin-right: 51px;  
}

.id_label_error {
  position: absolute;
  top: 172px;
  margin-left: 61px;
  margin-right: 61px;  
  color: red;
}

.id_text_field input{
  color: #919191;
  height: 30px;
  width: 210px;
  background-color: #F4F4F4;
  outline-style: none;
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  letter-spacing: 20px;
}

.name_label {
  position: absolute;
  top: 210px;
  margin-left: 61px;
  margin-right: 61px;  
}

.name_text_field {
  position: absolute;
  top: 237px;
  margin-left: 61px;
  margin-right: 61px;  
}

.name_label_error {
  position: absolute;
  top: 280px;
  margin-left: 61px;
  margin-right: 61px;  
  color: red;
}

.name_text_field input{
  height: 30px;
  width: 280px;
  background-color: #F4F4F4;
  /* outline-style: none; */
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;  
}

.fontStyle_button {
  font-weight: bold;
  color: white;
  font-size: 18px;    
}

/* Cast Button  */
.cast_btn {
  margin-left: 20px;
  margin-right: 20px;
}
.cast_btn button {
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  background-repeat: no-repeat;
  color: #F0682E;
  outline: none;
}
.cast_btn button:hover {
  text-shadow: 0px 2px 3px yellow;
  cursor: pointer;
}
.cast_btn button:active {
  text-shadow: 0px 0px 1px yellow;
  color: #C94C1B;
}

/* Cancel Button */
.cancel_btn {
  margin-left: 20px;
  margin-right: 20px;
}
.cancel_btn button {
  height: 30px;
  background-color: rgba(0, 0, 0, 1);
  border-style: none;
  background-repeat: no-repeat;
}
.cancel_btn button:hover {
  text-shadow: 0px 4px 6px yellow;
  cursor: pointer;
}
.cancel_btn button:active {
  text-shadow: 0px 0px 1px yellow;
  color: rgb(200, 200, 200);
}

/* Stop Button */
.stop_btn {
  margin-left: 20px;
  margin-right: 20px;
}
.stop_btn button {
  height: 30px;
  background-color: rgba(0, 0, 0, 1);
  border-style: none;
  background-repeat: no-repeat;
  color: #F0682E;
}
.stop_btn button:hover {
  color: #F0682E;
  text-shadow: 0px 2px 4px yellow;
  cursor: pointer;
}
.stop_btn button:active {
  color: #C94C1B
}

/* Footer Div */
.footer {
  position: absolute;
  top: 338px;
  width: 100%;

  flex-grow: 1;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
}

#options {
  text-align: right;
  font-size: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
}
#div-start-sharing {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 7px;
}


#start-sharing {
  text-align: center;
  text-decoration: none;
  outline: none;  
  /* margin: 0px; */
  /* padding: 5px; */
  cursor: pointer;
  font-size: 20px;
  
}

/* #start-sharing:hover {
  background: rgba(234,234,234,1);
  text-decoration: none;
}  */


#div-stop-sharing {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 7px;
}
#div-stop-sharing button {
  width: 80px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#index-div-operation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 7px;
  font-size: 15px;
}
#index-div-operation div {
  flex-grow: 1;
  display: flex;
  align-items: center;  
  justify-content: center;
}
#index-div-operation button {
  width: 80px;
  font-size: 15px;
}

/* options's css */

body.options {
  width: 360px;  
}

.item {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}
.itemLabel {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  /* background: aqua; */
  width: 120px;
}
.halfInput {
  width: 79px;
  text-align: center
}

#options-div-roomid {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-evenly; */

  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}
#options-div-roomid div {
  width: 120px;
}
#options-div-signaler {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
}
#option-input-signaler {
  width: 100%;
}
#options-div-codec{
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  /* background: aqua */
}
#options-div-operation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 7px;
}
#options-div-operation button {
  width: 80px;
}